@page "/"
@namespace BlazoredPortfolio.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazoredPortfolio</title>
    <base href="~/" />
    <link href="BlazoredPortfolio.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/App.css">
    <script src="https://kit.fontawesome.com/4ea44914ae.js"></script>
<script>
    function BlazorScrollToId(id) {
        const element = document.getElementById(id);
        if (element instanceof HTMLElement) {
            element.scrollIntoView({
                behavior: "smooth",
                block: "start",
                inline: "nearest"
            });
        }
    }
</script>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />


    <script src="_framework/blazor.server.js"></script>
</body>
</html>
