<h3>HomeBanner</h3>
    <section class="hero is-fullheight">
      <div class='hero-head'>
      </div>
      <div class="hero-body has-text-centered">
        <div>
          <p class="title is-1">
            Hello world, my name is Alexander Hernandez.
          </p>
          <p class="subtitle is-3">
             and I create websites and apps for small businesses and individuals.
          </p>
          <div class='columns'>
            <div class='column is-offset-2'>
              <p class='is-size-5'>Have a look at my
                <a class='button is-primary is-inverted is-outlined ml-3'
                  href='/resume'>
                  <span class='icon mr-1'>
                    <i class="fas fa-book"></i>
                  </span>
                  Resume
                </a>
              </p>
            </div>
            <div class='column'>
              <p class='is-size-5'>Or keep scrolling to see
                <a class='button is-primary is-inverted is-outlined ml-3'
                  href='#projects'>My Projects</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class=' is-fullwidth has-text-primary' href='#projects'>
        <div class='hero-foot has-text-centered'>
          <span class='icon is-large'>
            <i class="fas fa-5x fa-chevron-down"></i>
          </span>
        </div>
      </a>
    </section>


@code {

}
