<h3>NavBar</h3>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger burger" @onclick="ToggleNavBar" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" className="navbar-menu @NavBarCssHidden">
    <div class="navbar-start">
        <NavLink class="navbar-item" href="">
            Home
        </NavLink>
        <NavLink class="navbar-item" href="about">
            about
        </NavLink>
        <NavLink class='navbar-item' href='resume'>
            Resume
        </NavLink>
      
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        
      </div>
    </div>
  </div>
</nav>


@code {
    private bool collapseNavBar = true;
    private string NavBarCssHidden => collapseNavBar ? null : "is-active";
    private void ToggleNavBar()
    {
        collapseNavBar = !collapseNavBar;
    }
}
